/* There were three different Accordion sections spread through style.css. */

/********Accordion Start*******/

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

/********Accordion End*******/


/************Accordion Start*************/

.accordion>.card {
    border:0;
    /*border-bottom: 1px solid #000;*/
    padding: 0px 0;
    border-radius: 0
}
 .accordion .card-body .custom-select {
    margin-top: 30px;
}
.accordion .card-header {
    background: none;
    border: 0;
    padding: 0;
}
.accordion .card-header button {
    padding: 0;
    color: #232740;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    text-decoration: none;
}
.accordion .card-body {
    padding: 25px 36px 10px;
}
.accordion .card-body p {
  padding-bottom: 20px;
}

/************Accordion End*************/


/**********Accordion**********/

.accordion-heading{
  background-color: #dbdbdb;
  padding: 20px 22px;
  color: #555555;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 50px;
  cursor: pointer;
}
.accordion-heading.collapsed {
    background-color: #F1F1F1;
}
.accordion-heading i {
    color: #B5C6E0;
    font-size: 30px;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 13px;
}

/**********Accordion End**********/
