/* This was all unlabeled at the top of style.css. Most of it applies to basic, HTML elements. I'm not sure the last few belong here: .form-control is only used in the date rate picker, .input-group-text isn't anywehre in the HTML, and .container is also partially specified in the Grid section/file. */

*, ::after, ::before {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@font-face {font-family: "SFNSDisplay";
src: url("../fonts/sf-nsd.eot");
src: url("fonts/sf-nsd.eot?#iefix") format("embedded-opentype"),
url("../fonts/sf-nsd.woff2") format("woff2"),
url("../fonts/sf-nsd.woff") format("woff"),
url("../fonts/sf-nsd.ttf") format("truetype"); }
body{
  font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #232740;
    font-family: "SFNSDisplay";
    font-size: 46px;
    letter-spacing: 0;
    line-height: 38.3px;
    font-weight: normal;
    margin: 0 0 23px;
}

h2 {
    color: #232740;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
    margin: 0 0 20px;
}

h3 {
    color: #232740;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    text-decoration: none;
    padding: 60px 0 20px;
}
h4 {
    padding: 0 0 10px;
    margin: 0;
    color: #555555;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
}

p{
    color: #555555;
    font-family: "SFNSDisplay";
    font-size: 17px;
    letter-spacing: 0;
    line-height: 26px;
    margin: 0;
    padding-bottom: 22px;
}
.text-center {
    text-align: center;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}


.page-content {
    padding-top: 60px;
    padding-bottom: 60px;
}
.container{
    max-width: 1003px;
}
