/*****************Custom Select*******************/
.custom-select {
  position: relative;
  padding: 0;
  border: 0px;
  width: auto;
  min-width: 161px;
  vertical-align: top;
  height: auto;
  display: inline-block;
}
.custom-select:focus{
  border: 0;
  box-shadow: none;
}
.custom-select select {
  display: none; /*hide original SELECT element: */
}

.mutiselect {
   position: relative;
  padding: 0;
  border: 0px;
  width: auto;
  min-width: 161px;
  vertical-align: top;
  height: auto;
  display: inline-block;
  margin:0;
}
.mutiselect:focus{
  border: 0;
  box-shadow: none;
}
.mutiselect .select2-container {
 width: 100% !important
}
.mutiselect .select2-search input {
  min-height: 42px;
  box-shadow: none;
  background:none;
  border-color: #d0d1de;
  width: 100% !important;
}
.select2-results__options {
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #d0d1de;
}
.select2-results li {
  padding: 5px 10px;
  color: #55555a;
  font-size: 12px;
}
.select2-results li.select2-results__option--selected {
    background: #232740;
    color: #fff;
}
.select2-selection__rendered {
    position: absolute;
    top: 44px;
    margin: 0;
    padding: 3px;
    background: #fff;
    list-style: none;
    border: 1px solid #ccc;
    width: 100VW;
    left: 0px;
    z-index: 1;
    max-width: 267px;
    overflow: auto;
    max-height: 130px;
    display: none;
    overflow: auto;
    max-height: 105px;
}

/* Let's get this party started */
.select2-selection__rendered::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.select2-selection__rendered::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
.select2-selection__rendered::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(35,39,64,0.8);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
}
.select2-selection__rendered::-webkit-scrollbar-thumb:window-inactive {
  background: #232740;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select2-selection__rendered div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.select2-container--below.select2-container--open .select2-selection__rendered{
  display: none;
}
.select2-container--below .select2-selection__rendered {
  display: block;
}
.select2-selection__rendered li {
    padding: 0 5px 0 0;
    border: 0;
    border-top: 0;
    background: #efefef;
    font-size: 12px;
    display: inline-block;
    margin: 0 5px 0 0;
}
.select2-selection__rendered li button {
    background: none;
    border: 0;
    padding: 0 2px;
    font-size: 20px;
    vertical-align: middle;
}
/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-color: #D0D1DE transparent transparent transparent;
    border-bottom-width: 0;
    margin-top: -4px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #D0D1DE transparent;
    border-bottom-width: 8px;
    border-top-width: 0;
}

/* style the items (options), including the selected item: */
.select-selected {
  background: #fff;
  color: #555555;
  padding: 7px 30px 7px 16px;
  border: 1px solid #D0D1DE;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 17px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: left;
}
.select-items div {
  font-family: "Open Sans";
  font-size: 12px;
  color: #555555;
  padding: 5px 20px;
  text-align: left;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border:1px solid #D0D1DE;
  border-top:0;
  box-shadow: 0 3px 4px 0px #D0D1DE;
  padding: 10px 0;
  max-height: 160px;
  overflow: auto;
}


/* Let's get this party started */
.select-items::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.select-items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
.select-items::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(35,39,64,0.8);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
}
.select-items::-webkit-scrollbar-thumb:window-inactive {
  background: #232740;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 767px) {
.custom-select {
    width: 100%;
    margin-bottom: 10px;
}
.datepicker.date.input-group {
    width: 100%;
    max-width: inherit;
    margin-bottom: 10px;
}
}
/*************Custom Select End************/
