/*************Filter Dropdown*****************/

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}


.filter-dropdown .btn {
    background: #232740;
    color: #fff;
    border-radius: 0;
    border: 0;
    height: 42px;
    width: 42px;
    margin: 0 -4px 0 0;
}
.filter-dropdown .btn:hover,
.filter-dropdown .btn:focus{
  outline: none;
  box-shadow: none;
}
.filter-dropdown .btn.dropdown-toggle::after{
  display: none;
}
.filter-dropdown .dropdown-menu {
    border: 1px solid #D0D1DE;
    border-top: 0;
    box-shadow: 0 3px 4px 0px #D0D1DE;
    padding: 10px 0;
    border-radius: 0;
    margin-top: 0px;
    min-width: 203px;
}
.filter-dropdown .dropdown-menu input[type="checkbox"] {
    opacity: 0;
}

.filter-dropdown .dropdown-menu label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
    font-size: 12px
}

.filter-dropdown .dropdown-menu label::before,
.filter-dropdown .dropdown-menu label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.filter-dropdown .dropdown-menu label::before{
    height: 10px;
    width: 10px;
    border: 1px solid #232740;
    left: 0px;
    top: 4px;
}

/*Checkmark of the fake checkbox*/
.filter-dropdown .dropdown-menu label::after {
    height: 10px;
    width: 10px;
    background: #232740;
    left: 0px;
    top:4px;
}

/*Hide the checkmark by default*/
.filter-dropdown .dropdown-menu input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.filter-dropdown .dropdown-menu input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.filter-dropdown .dropdown-menu input[type="checkbox"]:focus + label::before {
    /*outline: rgb(59, 153, 252) auto 5px;*/
}

/*************Filter Dropdown End*****************/
