/* I converted these into media queries in the tabs, modal, and filter-dropdown files. */

/***************Media*****************/
/* @media only screen and (max-width: 767px) {
.tabs-section ul.nav.nav-tabs{
   margin: 0 0 20px;
}
.modal.custom .modal-dialog .modal-content .modal-body {
    padding: 10px 30px 35px;
}
.multi-filter {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    padding: 0 0 0 42px;
}
.filters .multi-filter .filter-dropdown {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}
} */
