/* This was in the Map Tab section. */

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.modal-backdrop.show {
    background-color: rgba(35,39,64,0.8);
    opacity: 1;
}
.modal.custom .modal-dialog {
    border: 0;
    border-radius: 0;
    max-width: 725px;
}
.modal.custom .modal-dialog .modal-content .modal-header {
    border: 0;
    padding-bottom: 0;
}
.modal.custom .modal-dialog .modal-content .modal-header .close {
  outline: none;
}
.modal.custom .modal-dialog .modal-content .modal-body {
    padding: 20px 70px 55px;
}
.modal.custom .modal-dialog .modal-content {
    border-radius: 0;
    border: 0;
}
.modal.custom .modal-dialog .modal-content h2{
  font-family: "SFNSDisplay";
  color: #232740;
  /*font-family: ".SF NS Display";*/
  font-size: 46px;
  letter-spacing: 0;
  line-height: 38.3px;
  margin: 0;
  padding: 0 0 44px;
}
.modal.custom .modal-dialog .modal-content h3{
  color: #232740;
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  padding: 0 0 25px;
  margin: 0;
}
.modal.custom .modal-dialog .modal-content h3 span {
    font-weight: normal;
}
.modal.custom .modal-dialog .modal-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modal.custom .modal-dialog .modal-content ul li{
  color: #555555;
  font-family: "Open Sans";
  font-size: 17px;
  letter-spacing: 0;
  line-height: 39px;
}
.modal.custom .modal-dialog .modal-content .graph-data{
  padding-bottom: 37px
}
.modal.custom .modal-dialog .modal-content .graph-data img {
  max-width: 100%
}

/* Converted from one media query containing multiple specifications. See media.css for original. */
@media only screen and (max-width: 767px) {
.modal.custom .modal-dialog .modal-content .modal-body {
    padding: 10px 30px 35px;
}
}
