/* This was unlabeled, after the Filter Dropdown section and before the Custom Select section. I actually don't see the class custom-dropdown anywhere in the HTML. */

.custom-dropdown select{
  background: #fff;
    color: #555555;
    padding: 7px 30px 7px 16px;
    border: 1px solid #D0D1DE;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 17px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: left;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
